/* visos automobilio detales turi buti 200px aukscio ir plocio, zaliu fonu, 2px plocio remeliu is visu krastu */

/*	z-index layer:
*	0: default
*	1: main-info: text, images
*	2: pop up window: bdar, newsletter
*/

body, span, div {
	margin: 0;
	padding: 0;
	border: none;
}

.car div, .car span {
	width: 200px;
	height: 200px;
	background: green;
}

.car .a1 span {
	display: inline-block;
}

.car__rear-wheels-wrapper {
	border: 1px solid red;
}

.bdar-container {
	width: 100%;
	background: yellow;
	text-align: center
}
span.car__rear-wheels--red {
	background: red;
}

div.car--blue span.car__front-wheels {
	z-index: 1;
}
